// about
.about_info {
    h1 {
        color: #ffffff;
        padding-top: 6.7vw;
        padding-bottom: 5.2vw;
        text-align: center;
        font-size: 90px;
        font-weight: bolder;
    }
    &_url {
        width: 49.4vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 6vw;
        .box {
            font-size: 0.9vw;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22.9vw;
            height: 12vw;
            background-color: $white;
            margin-bottom: 2.6vw;
            div {
                @include triangle($black, 9px);
                margin-left: 1vw;
            }
        }
    }
}

.oem_url {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 1.1vw;
    font-weight: bold;
    padding: 35px;
    @include small-pad-width {
        font-size: 14px;
        line-height: 24px;
        padding: 20px;
    }
    @include phone-width() {
        font-size: 14px;
        line-height: 24px;
        padding: 20px;
    }
    div {
        @include triangle($black, 11px);
        margin-left: 1vw;
    }
    &:hover {
        div {
            @include triangle($green, 11px);
            margin-left: 1vw;
        }
    }
}