//certification
.certification_info {
    text-align: center;
    h1 {
        font-size: 3.1vw;
        font-weight: bolder;
        color: $green;
        padding-top: 5.2vw;
        padding-bottom: 2.6vw;
    }
    p {
        width: 52vw;
        margin: 0 auto;
        line-height: 1.6vw;
        font-size: 1.1vw;
        color: $black;
        padding-bottom: 3.1vw;
    }
    .group {
        display: flex;
        justify-content: space-between;
        .fancybox {
            display: block;
            position: relative;
            overflow: hidden;
            .box_hover {
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    img {
                        position: absolute;
                        right: 5%;
                        bottom: 5%;
                    }
                }
            }
            &:hover {
                .image {
                    transform:scale(1.2, 1.2);
                    transition: all 1s ease-out;
                }
            }
        }
        p {
            width: 670px;
            margin-top: 1vw;
            font-size: 1.5vw;
            font-weight: bold;
        }
    }
    .title {
        @include title_type(4.1vw, 30%);
        font-size: 2.3vw;
        font-weight: bold;
        margin-top: 5.2vw;
        margin-bottom: 3.1vw;
    }
    .other_group {
        display: flex;
        flex-wrap: wrap;
        width: 72.9vw;
        margin: 0 auto;
        padding-bottom: 7.8vw;
        .box {
            width: 445px;
            height: 205px;
            margin: 15px 0.5vw;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            .fancybox {
                display: block;
                position: relative;
                overflow: hidden;
                .box_hover {
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        img {
                            position: absolute;
                            right: 5%;
                            bottom: 5%;
                        }
                    }
                }
                &:hover {
                    .image {
                        transform:scale(1.2, 1.2);
                        transition: all 1s ease-out;
                    }
                }
            }
            .info {
                margin-left: 1vw;
                h3 {
                    font-size: 1.3vw;
                    font-weight: bold;
                    text-align: left;
                }
                p {
                    text-align: left;
                    width: 13vw;
                    line-height: 34px;
                    font-size: 0.9vw;
                    padding-top: 1vw;
                    padding-bottom: 0;
                }
            }
        }
    }
}