//certification
.certification_info {
    text-align: center;
    h1 {
        font-size: 3.1vw;
        font-weight: bolder;
        color: $green;
        padding-top: 5.2vw;
        padding-bottom: 2.6vw;
        @include small-pad-width {
            font-size: 26px;
            line-height: 40px;
            padding-top: 75px;
        }
        @include phone-width {
            font-size: 26px;
            line-height: 40px;
            padding-top: 75px;
        }
    }
    p {
        width: 52vw;
        margin: 0 auto;
        line-height: 1.6vw;
        font-size: 1.1vw;
        color: $black;
        padding-bottom: 3.1vw;
        @include small-pad-width {
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 50px;
        }
        @include phone-width {
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 50px;
        }
    }
    .group {
        display: flex;
        justify-content: space-between;
        @include pad-width {
            display: block;
        }
        @include small-pad-width {
            display: block;
        }
        @include phone-width {
            display: block;
        }
        .fancybox {
            display: block;
            position: relative;
            overflow: hidden;
            .box_hover {
                .overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba($color: #000000, $alpha: 0.5);
                    img {
                        position: absolute;
                        right: 5%;
                        bottom: 5%;
                    }
                }
                .image {
                    width: 100%;
                }
            }
            &:hover {
                .image {
                    transform:scale(1.2, 1.2);
                    transition: all 1s ease-out;
                }
            }
        }
        p {
            width: 670px;
            margin-top: 1vw;
            font-size: 1.5vw;
            font-weight: bold;
            @include small-pad-width {
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 50px;
            }
            @include phone-width {
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 50px;
            }
        }
    }
    .title {
        @include title_type(4.1vw, 30%);
        font-size: 2.3vw;
        font-weight: bold;
        margin-top: 5.2vw;
        margin-bottom: 3.1vw;
        @include small-pad-width {
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        @include phone-width {
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    .other_group {
        display: flex;
        flex-wrap: wrap;
        width: 72.9vw;
        margin: 0 auto;
        padding-bottom: 7.8vw;
        @include pad-width {

        }
        @include small-pad-width {

        }
        @include phone-width {

        }
        .box {
            width: 445px;
            height: 205px;
            margin: 15px 0.5vw;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            @include pad-width {
                width: 48%;
            }
            @include small-pad-width {
                width: 100%;
            }
            @include phone-width {
                width: 100%;
            }
            .fancybox {
                display: block;
                position: relative;
                overflow: hidden;
                .box_hover {
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        img {
                            position: absolute;
                            right: 5%;
                            bottom: 5%;
                        }
                    }
                }
                &:hover {
                    .image {
                        transform:scale(1.2, 1.2);
                        transition: all 1s ease-out;
                    }
                }
            }
            .info {
                margin-left: 1vw;
                h3 {
                    font-size: 1.3vw;
                    font-weight: bold;
                    text-align: left;
                    @include small-pad-width {
                        font-size: 16px;
                        line-height: 26px;
                        margin-top: 20px;
                        margin-bottom: 40px;
                    }
                    @include phone-width {
                        font-size: 16px;
                        line-height: 26px;
                        margin-top: 20px;
                        margin-bottom: 40px;
                    }
                }
                p {
                    text-align: left;
                    width: 13vw;
                    line-height: 34px;
                    font-size: 0.9vw;
                    padding-top: 1vw;
                    padding-bottom: 0;
                    @include small-pad-width {
                        width: 100%;
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 50px;
                    }
                    @include phone-width {
                        width: 100%;
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}