// equipment
.equipment_info {
    text-align: center;
    h1 {
        font-size: 60px;
        font-weight: bolder;
        color: $green;
        padding-top: 100px;
    }
    h2 {
        font-size: 30px;
        font-weight: bold;
        color: $black;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    p {
        width: 1000px;
        margin: 0 auto;
        line-height: 32px;
        font-size: 22px;
        color: $black;
        padding-bottom: 50px;
    }
    .group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 100px;
        &_box {
            margin-bottom: 50px;
            img {
                margin-bottom: 20px;
            }
            p {
                width: 440px;
            }
        }
    }
}