// include_footer.php
.footer {
    width: 100%;
    background-color: $bgcolor;
    &_content {
        position: relative;
        width: 73vw;
        margin: 0 auto;
        padding: 4.1vw 0;
        display: flex;
        justify-content: space-between;
        .to-top {
            cursor: pointer;
            position: absolute;
            right: -20%;
            bottom: 20%;
            @include small-pad-width {
                display: none;
            }
            @include phone-width {
                display: none;
            }
            img {
                transform: rotate(180deg);
                display: flex;
                margin: 0 auto;
            }
            div {
                transform: rotate(270deg);
                margin-top: 50%;
            }
        }
        .company {
            @include small-pad-width {
                width: 100%;
                text-align: center;
                font-size: 14px;
                line-height: 24px;
            }
            @include phone-width {
                width: 100%;
                text-align: center;
                font-size: 14px;
                line-height: 24px;
            }
            width: 25%;
            &_name {
                @include small-pad-width {
                    font-size: 26px;
                }
                @include phone-width {
                    font-size: 26px;
                }
                line-height: 36px;
                font-size: 1.5vw;
                font-weight: bold;
                margin-bottom: 1vw;
            }
            &_addr {
                @include small-pad-width {
                    font-size: 14px;
                }
                @include phone-width {
                    font-size: 14px;
                }
                font-size: 16px;
                margin-bottom: 1vw;
                a {
                    color: $black;
                    &:hover {
                        color: $green;
                    }
                }
            }
            &_tel {
                @include small-pad-width {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                @include phone-width {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                font-size: 16px;
                margin-bottom: 1vw;
            }
            &_email {
                @include small-pad-width {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                @include phone-width {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                font-size: 16px;
                margin-bottom: 1vw;
                color: $black;
                a {
                    color: $green;
                }
            }
            &_contact {
                @include small-pad-width {
                    display: none;
                }
                @include phone-width {
                    display: none;
                }
                @include btn($black, $white, 0.9vw);
                border: none;
                width: 19.8vw;
                height: 3.1vw;
                div {
                    top: 1vw;
                    left: 3.7vw;
                }
            }
        }
        .company_info {
            @include small-pad-width {
                display: none;
            }
            @include phone-width {
                display: none;
            }
            width: 13.5vw;
            a {
                border-top: 0.05vw solid $black;
                display: block;
                font-size: 1vw;
                font-weight: bold;
                color: $black;
                padding: 1.25vw 0;
                &:hover {
                    color: $green;
                }
            }
            &_item {
                li {
                    a {
                        font-size: 16px;
                        font-weight: normal;
                        border: none;
                        padding: 6px 0;
                    }
                }
            }
        }
    }
}

.copyright {
    width: 100%;
    background-color: $black;
    &_content {
        width: 73vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0.6vw 0;
        @include small-pad-width {
            width: 90%;
            font-size: 12px;
            padding: 15px 0;
            margin: 0 20px;
        }
        @include phone-width {
            font-size: 12px;
            padding: 15px 0;
        }
    }
    .info {
        display: flex;
        align-items: center;
        color: $white;
        @include small-pad-width {
            line-height: 15px;
        }
        @include phone-width {
            line-height: 15px;
        }
        p {
            @include pad-width {
                font-size: 14px;
            }
            @include small-pad-width {
                width: 210px;
            }
            @include phone-width {
                width: 210px;
            }
        }
        a {
            color: $white;
        }
    }
    .icon {
        img {
            padding-top: 4px;
        }
    }
}
