// include_header.php
.header {
    width: 100%;
    .mobile {
        display: none;
    }
    @include small-pad-width {
        .mobile {
            display: block;
        }
        .web {
            display: none;
        }
    }
    @include phone-width() {
        .mobile {
            display: block;
        }
        .web {
            display: none;
        }
    }
    .navbar {
        background-color: $green;
        &_content {
            margin: 0 11.5vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_icon {
            padding: 27px 0;
            img {
                width: 4.71vw;
                height: 3.125vw;
                @include small-pad-width {
                    width: 46px;
                    height: 30px;
                }
                @include phone-width() {
                    width: 46px;
                    height: 30px;
                }
            }
        }
        &_menu {
            display: flex;
            justify-content: space-between;
            ul {
                align-items: center;
                display: flex;
                li {
                    list-style: none;
                    margin-right: 2.6vw;
                    padding: 2.3vw 0;
                    a {
                        position: relative;
                        display: block;
                        font-size: 1.1vw;
                        font-weight: bold;
                        color: $white;
                        img {
                            width: 1.823vw;
                            height: 1.823vw;
                            @include small-pad-width {
                                width: 30px;
                                height: 30px;
                            }
                            @include phone-width() {
                                width: 30px;
                                height: 30px;
                            }
                            position:absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: opacity 0.1s ease-in-out;
                            &:last-child:hover {
                                /* 滑入時第一張透明度設0 */
                                opacity:0;
                            }
                        }

                    }
                    &:hover a{
                        color: $yellow;
                    }
                    &:hover .hide {
                        display: block;
                    }
                }
            }
        }
    }
    .hide {
        @include small-pad-width {
            text-align: center;
            margin-top: 0;
            background-color: rgba($color: #000000, $alpha: 0.9);
            ul {
                font-size: 20px;
                line-height: 44px;
                li {
                    a {
                        color: $white;
                    }
                }
            }
        }
        @include phone-width {
            text-align: center;
            margin-top: 0;
            background-color: rgba($color: #000000, $alpha: 0.9);
            ul {
                font-size: 20px;
                line-height: 44px;
                li {
                    a {
                        color: $white;
                    }
                }
            }
        }
        left: 0;
        width: 100%;
        display: none;
        position: absolute;
        z-index: 9999;
        margin-top: 2.3vw;
        border-top: blanchedalmond solid 0.3vw;
        background-color: $black;
        color: $white;
        .content {
            @include small-pad-width {
                flex-wrap: wrap;
                a {
                    box-sizing: border-box;
                    display: block;
                    font-size: 14px;
                    border: 0.05vw solid $white;
                    width: 50%;
                    color: $white;
                }
            }
            @include phone-width {
                flex-wrap: wrap;
                a {
                    box-sizing: border-box;
                    display: block;
                    font-size: 14px;
                    border: 0.05vw solid $white;
                    width: 50%;
                    color: $white;
                }
            }
            margin: 0 11.5vw;
            display: flex;
            justify-content: space-between;
            &_left {
                margin-top: 4.1vw;
                &_title {
                    font-size: 2.6vw;
                    font-weight: bold;
                }
                &_explore {
                    display: flex;
                    align-items: center;
                    margin-bottom: 4.1vw;
                    margin-top: 1.5vw;
                    padding-left: 1vw;
                    a {
                        color: $yellow;
                    }
                    @include triangle($yellow, 0.5vw);
                }
            }
            &_right {
                display: flex;
                flex-wrap: wrap;
                width: 45.8vw;
                margin: 4.1vw 0;
                a {
                    width: 40%;
                    border: 0.05vw solid $white;
                    padding: 1vw 2vw;
                    .item {
                        display: flex;
                        align-items: center;
                        font-size: 0.9vw;
                        font-weight: bold;
                        color: $white;
                    }
                    img {
                        position:absolute;
                        right: 1vw;
                    }
                    &:hover .item{
                        color: $yellow;
                    }
                    &:hover img:last-child {
                        /* 滑入時第一張透明度設0 */
                        opacity:0;
                    }
                }
            }
        }
    }
    .active {
        color: $yellow;
    }
}

