// index.php
.mobile {
    display: none;
}
@include small-pad-width {
    .mobile {
        display: block;
    }
    .web {
        display: none;
    }
}
@include phone-width() {
    .mobile {
        display: block;
    }
    .web {
        display: none;
    }
}
.index_banner {
    overflow: hidden;
    width: 100%;
    height: 40vw;
    display: flex;
    @include small-pad-width {
        height: auto;
        display: block;
    }
    @include phone-width() {
        height: auto;
        display: block;
    }
    .trans {
        position: relative;
        transform: rotate(9deg);
        border: 0.3vw solid $white;
        overflow: hidden;
        height: 78.1vw;
        margin-top: -10.4vw;
        margin-right: -7.8vw;
        margin-left: -10.4vw;
        z-index: 999;
        transition: 0.5s;
        &:hover {
            transform:scale(1.1, 1.1) rotate(9deg);
            transition: all 0.5s ease-out;
            .img_left {
                background-image: url('../images/banner/Group\ 1017.jpg');
            }
        }
    }
    .img_left {
        transform: rotate(-9deg);
        background-image: url('../images/banner/Group\ 1016.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 78.1vw;
        height: 52vw;
        @include small-pad-width {
            transform: rotate(0);
            width: 100vw;
            height: 300px;
        }
        @include phone-width() {
            transform: rotate(0);
            width: 100vw;
            height: 300px;
        }
        .content {
            margin: 0 11.5vw;
            @include small-pad-width() {
                margin: 0 20px;
            }
            @include phone-width() {
                margin: 0 20px;
            }
        }
        .info {
            position: absolute;
            top: 24vw;
            left: 20.8vw;
            width: 33.3vw;
            height: 13vw;
            color: $white;
        }
        .word {
            color: $white;
            font-size: 3.6vw;
            font-weight: bolder;
            @include small-pad-width {
                padding: 30px 0;
                font-size: 36px;
                line-height: 46px;
            }
            @include phone-width() {
                padding: 30px 0;
                font-size: 36px;
                line-height: 46px;
            }
        }
        p {
            padding-top: 1.5vw;
            padding-bottom: 2.8vw;
            font-size: 1.3vw;
            font-weight: bold;
        }
        .explore_url {
            margin-left: 0.5vw;
            .explore {
                display: flex;
                align-items: center;
                margin-top: 1.5vw;
                a {
                    color: $yellow;
                }
                @include triangle($yellow, 0.5vw);
            }
        }
        &:hover {
            @include small-pad-width {
                transform:scale(1.1, 1.1);
                transition: all 0.5s ease-out;
                background-image: url('../images/banner/Group\ 1017.jpg');
            }
            @include phone-width {
                transform:scale(1.1, 1.1);
                transition: all 0.5s ease-out;
                background-image: url('../images/banner/Group\ 1017.jpg');
            }
        }
    }

    .img_right {
        position: relative;
        background-image: url('../images/banner/Group\ 1018.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 78.1vw;
        height: 46.8vw;
        transition: 0.5s;
        @include small-pad-width {
            width: 100vw;
            height: 300px;
        }
        @include phone-width() {
            width: 100vw;
            height: 300px;
        }
        .content {
            margin: 0 11.5vw;
            @include small-pad-width() {
                margin: 0 20px;
            }
            @include phone-width() {
                margin: 0 20px;
            }
        }
        .info {
            position: absolute;
            top: 15.1vw;
            left: 19.5vw;
            width: 33.3vw;
            height: 13vw;
            color: $white;
        }
        .word {
            color: $white;
            font-size: 3.6vw;
            font-weight: bolder;
            @include small-pad-width {
                padding: 30px 0;
                font-size: 36px;
                line-height: 46px;
            }
            @include phone-width() {
                padding: 30px 0;
                font-size: 36px;
                line-height: 46px;
            }
        }
        p {
            padding-top: 1.5vw;
            padding-bottom: 2.8vw;
            font-size: 1.3vw;
            font-weight: bold;
        }
        .explore_url {
            margin-left: 0.5vw;
            .explore {
                display: flex;
                align-items: center;
                margin-top: 1.5vw;
                a {
                    color: $yellow;
                }
                @include triangle($yellow, 0.5vw);
            }
        }
        &:hover {
            transform:scale(1.1, 1.1);
            transition: all 0.5s ease-out;
            background-image: url('../images/banner/Group\ 1019.jpg');
        }
    }
}
.group_title {
    @include small-pad-width {
        padding-top: 50px;
        font-size: 26px;
    }
    @include phone-width {
        padding-top: 50px;
        font-size: 26px;
    }
    font-size: 3.1vw;
    font-weight: bolder;
    padding-top: 5.7vw;
}
.index_info {
    text-align: center;
    p {
        @include small-pad-width {
            padding-top: 10px;
            padding-bottom: 30px;
            font-size: 14px;
            line-height: 24px;
            width: 100%;
        }
        @include phone-width {
            padding-top: 10px;
            padding-bottom: 30px;
            font-size: 14px;
            line-height: 24px;
            width: 100%;
        }
        padding-top: 2.6vw;
        width: 52vw;
        margin: 0 auto;
        line-height: 1.6vw;
        font-size: 1.1vw;
        color: $black;
        padding-bottom: 3.1vw;
    }
    .products_info_sub {
        margin-bottom: 2.6vw;
        margin-top: 2.6vw;
    }
    .pd_group {
        margin-bottom: 2.6vw;
    }
    .products_url {
        padding-bottom: 8.3vw;
    }
    .view_url {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.foot_main {
    width: 100%;
    background-color: $white;
    text-align: center;
    .content {
        width: 73vw;
        margin: 0 auto;
        position: relative;
        h1 {
            font-size: 3.1vw;
            font-weight: bolder;
            color: $black;
            padding-top: 5.2vw;
            padding-bottom: 2.6vw;
        }
        p {
            width: 52vw;
            margin: 0 auto;
            line-height: 1.6vw;
            font-size: 1.1vw;
            color: $black;
            padding-bottom: 3.1vw;
            padding-top: 2.6vw;
            @include small-pad-width {
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
            @include phone-width {
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
        }
        .view_url {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            right: 0;
            top: 20%;
            @include small-pad-width {
                position: static;
                justify-content: center;
                padding-bottom: 30px;
                top: 0;
            }
            @include phone-width {
                position: static;
                justify-content: center;
                padding-bottom: 30px;
                top: 0;
            }
        }
    }
}
.md_main {
    width: 100%;
    background-color: $black;
    .contnet {
        width: 73vw;
        margin: 0 auto;
        text-align: center;
        color: $white;
        @include small-pad-width {
            width: 90%;
            margin: 0 20px;
        }
        @include phone-width {
            width: 100%;
        }
        h2 {
            line-height: 2vw;
            font-size: 1.5vw;
            font-weight: bold;
            padding-top: 1vw;
            padding-bottom: 2.6vw;
            @include small-pad-width {
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
            @include phone-width {
                padding-top: 20px;
                padding-bottom: 30px;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
        }
        p {
            width: 52vw;
            margin: 0 auto;
            line-height: 1.6vw;
            font-size: 1.1vw;
            padding-bottom: 3.6vw;
            @include small-pad-width {
                padding-bottom: 50px;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
            @include phone-width {
                padding-bottom: 50px;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
            }
        }
        .manufacturing {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &_box {
                @include small-pad-width {
                    width: 50%;
                    margin-bottom: 50px;
                }
                @include phone-width {
                    width: 50%;
                    margin-bottom: 50px;
                }
                p {
                    width: 14.5vw;
                    margin-top: 1vw;
                    padding-bottom: 0;
                    @include small-pad-width {
                        width: auto;
                        white-space: nowrap;
                    }
                    @include phone-width {
                        width: auto;
                        white-space: nowrap;
                    }
                }
                &:nth-child(n+2) {
                    border-left: 0.05vw solid $white;
                    @include pad-width {
                        border: none;
                    }
                    @include small-pad-width {
                        border: none;
                    }
                    @include phone-width {
                        border: none;
                    }
                }
            }
        }
        .explore_url {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2.6vw;
            padding-bottom: 5.2vw;
            @include small-pad-width {
                display: none;
            }
            @include phone-width {
                display: none;
            }
            .explore {
                display: flex;
                align-items: center;
                padding-left: 1vw;
                @include triangle($yellow, 0.5vw);
                @include pad-width {
                    @include triangle($yellow, 8px);
                }
                @include small-pad-width {
                    @include triangle($yellow, 6px);
                }
                @include phone-width {
                    @include triangle($yellow, 6px);
                }
            }
            a {
                color: $yellow;
            }
        }
    }
}