// news
.news_nav {
    display: flex;
    justify-content: center;
    background-color: $white;
    a {
        margin: 0 1.5vw;
        display: inline-block;
        position: relative;
        font-size: 0.9vw;
        line-height: 3.8vw;
        color: $black;
        font-weight: bold;
        &:nth-child(n+2)::before {
            position: absolute;
            content: ".";
            left: -1.5vw;
            top: -4px;
        }
        &:hover {
            color: $green;
        }
    }
    .active {
        color: $green;
    }
}
.news_info {
    text-align: center;
    margin: 0 auto;
    h1 {
        font-size: 3.1vw;
        font-weight: bolder;
        color: $green;
        padding-top: 5.2vw;
        padding-bottom: 2.6vw;
        @include small-pad-width {
            font-size: 26px;
            line-height: 40px;
            padding-top: 75px;
        }
        @include phone-width {
            font-size: 26px;
            line-height: 40px;
            padding-top: 75px;
        }
    }
    p {
        width: 52vw;
        margin: 0 auto;
        line-height: 1.6vw;
        font-size: 1.1vw;
        color: $black;
        padding-bottom: 3.1vw;
        @include small-pad-width {
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 50px;
        }
        @include phone-width {
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 50px;
        }
    }
}

// naws_i
.naws_i_info {
    text-align: center;
    .breadcrumb {
        ol {
            display: flex;
            li {
                display: flex;
                padding: 0.6vw 0;
                a {
                    color: $black;
                    font-size: 16px;
                }
                &:nth-child(1) {
                    border-bottom: 0.3vw solid $yellow;
                }
                &:nth-child(n+2)::before {
                    content: ">";
                    margin: 0 0.6vw;
                    color: $black;
                }
            }
        }
    }
    h1 {
        width: 73vw;
        margin: 0 auto;
        font-size: 2.3vw;
        font-weight: bolder;
        padding-top: 5.2vw;
        padding-bottom: 3.1vw;
    }
    h2 {
        font-size: 0.9vw;
        color: $green;
        padding-bottom: 2.6vw;
    }
    p {
        width: 52vw;
        margin: 0 auto;
        line-height: 38px;
        font-size: 1.1vw;
        color: $black;
        padding-top: 4.1vw;
        padding-bottom: 5.2vw;
    }
    .send_btn {
        padding-bottom: 7.8vw;
        display: flex;
        justify-content: space-around;
        .btn {
            margin: 0 auto;
            @include btn($green, $white, 0.9vw);
            width: 29.1vw;  //按鈕寬度
            height: 3.1vw;  //按鈕高度
            div {
                top: 1vw;  //內容高距離
                left: 10.4vw;  //內容左距離
            }
        }
        .btn_r {
            margin: 0 auto;
            @include btn($white, $green, 0.9vw);
            border: 0.05vw solid $green;
            width: 29.1vw;  //按鈕寬度
            height: 3.1vw;  //按鈕高度
            div {
                top: 1vw;  //內容高距離
                left: 10.4vw;  //內容左距離
            }
        }
    }
}