$black: #1f1f1f;
$green: #00802f;
$yellow: #ffec00;
$deep_green: #0a5836;
$red: #b40019;
$deep_gray: #8e8e8f;
$gray: #bdbebf;
$white: #ffffff;
$bgcolor: #F4F4F4;

@mixin mobile {
    @media (max-width:769px) {
        @content;
    }
}

@mixin web {
    @media screen {
        @content;
    }
}

//先針對media queries的width設為變數

$pc-media:1440px;
$pcs-media:1039px;
$pad-media:768px;
$pads-media:767px;
$phone-media:375px;
$phones-media:374px;

/*把變數帶入mixin中，此mixin只就單純把media queries寫到我的mixin中，
並且使用我上面設立的變數來調動media queries的width*/

//電腦
 @mixin pc-width() {
  @media all and (min-width: $pc-media) {
               @content;
         }
    }
//平板
 @mixin pad-width() {
@media all and (min-width:$pad-media) and (max-width: $pcs-media) {
                @content;
          }
}
//小平板
 @mixin small-pad-width() {
        @media all and (min-width: $phone-media) and (max-width:$pads-media) {
                @content;
          }
 }
//手機
 @mixin phone-width() {
        @media all and (max-width: $phones-media) {
                @content;
          }
 }


// 三角形 向右
@mixin triangle($color, $size) {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size 0 $size $size*2;
    border-color: transparent transparent transparent $color;
    transition: 0.5S;
    padding-left: 1vw;
    &:hover {
        margin-left: 0.5vw;
        padding-left: 0.5vw;
        transition: 0.5S;
    }
}
/*
按鈕模組
<a href="">
    <div class="btn">
        <div></div>
        <span>內容</span>
    </div>
</a>

CSS 寫法
.btn {
    @include btn(字體顏色, 背景顏色, 字體大小);
    width: ;  //按鈕寬度
    height: ;  //按鈕高度
    div {
        top: ;  //內容高距離
        left: ;  //內容左距離
    }
}
*/
@mixin btn($color, $bgcolor, $fnsize) {
    border: 0.05vw solid $color;
    position: relative;
    background-color: $bgcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        position: absolute;
        font-size: $fnsize;
        @include triangle($color, ($fnsize/2));
    }
    span {
        padding-left: 1vw;
        color: $color;
        font-weight: bold;
        }
    &:hover {
        background-color: $color;
        color: $bgcolor;
        div {
            @include triangle($bgcolor, ($fnsize/2));

        }
        span {
            color: $white;
        }
    }
}

// 主題文字符號
@mixin title_type($line, $position) {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background-color: $black;
        transform:rotate(45deg) translateX(-50%);
        left: $position - 3%;
        top: 50%;
    }
    &::after {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background-color: $black;
        transform:rotate(45deg) translateX(-50%);
        right: $position - 3%;
        top: 50%;
    }
    span {
        &::before {
            position: absolute;
            content: "";
            height: 3px;
            width: $line;
            background-color: $black;
            left: $position;
            top: 50%;
            transform: translateX(-50%);
        }
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: $line;
            background-color: $black;
            right: $position - 5%;
            top: 50%;
            transform: translateX(-50%);
        }
    }
}

@import 'header';
@import 'footer';
@import 'index';
@import 'about';
@import 'brand';
@import 'philosophy';
@import 'equipment';
@import 'service';
@import 'oem';
@import 'products';
@import 'certification';
@import 'news';
@import 'faq';
@import 'contact';
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    font-family: "Lato", 'Microsoft JhengHei', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hidden {
    display: none;
}
a {
    text-decoration:none;
}
.scale {
    transform:scale(1.2, 1.2);
    transition: all 1s ease-out;
}
input, textarea, select {
    border: none;
    outline: none;
}
.view_url {
    .view {
        display: flex;
        align-items: center;
        padding-left: 1vw;
        @include triangle($green, 0.5vw);
        @include small-pad-width {
            @include triangle($green, 6px);
        }
        @include phone-width() {
            @include triangle($green, 6px);
        }
    }
    a {
        color: $green;
    }
    &:hover .view{
        margin-left: 0.5vw;
        padding-left: 0.5vw;
        transition: 0.5S;
    }
}

// main
.main {
    width: 100vw;
    background-color: $bgcolor;
    background-repeat: no-repeat;
    .content {
        margin: 0 11.5vw;
    }
    .group_content {
        margin: 0 11.5vw;
        @include small-pad-width() {
            margin: 0;
        }
        @include phone-width() {
            margin: 0;
        }
    }
}

// banner
.banner {
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    .content {
        margin: 0 11.5vw;
        h1 {
            font-size: 4.7vw;
            color: #ffffff;
            padding-top: 6.77vw;
            padding-bottom: 7.8vw;
            font-weight: bolder;
            font-weight: bolder;
            text-align: center;
        }
        .breadcrumb {
            ol {
                display: flex;
                li {
                    display: flex;
                    padding: 0.6vw 0;
                    a {
                        color: $white;
                        font-size: 16px;
                    }
                    &:nth-child(1) {
                        border-bottom: 0.3vw solid $yellow;
                    }
                    &:nth-child(n+2)::before {
                        content: ">";
                        margin: 0 0.6vw;
                        color: $white;
                    }
                }
            }
        }
    }
}
.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.group {
    padding-bottom: 7.8vw;
    @include small-pad-width() {
        left: 0;
        width: 100%;
        padding: 0;
    }
    @include phone-width() {
        left: 0;
        width: 100%;
        padding: 0;
    }
    &_box {
        width: 100%;
        .group_info {
            padding: 3.6vw 4.1vw;
            display: flex;
            justify-content: space-between;
            @include small-pad-width() {
                display: block;
            }
            @include phone-width() {
                display: block;
            }
            .image {
                overflow: hidden;
                img {
                    width: 31.25vw;
                    height: 18.75vw;
                    @include small-pad-width() {
                        height: 190px;
                        width: 300px;
                        margin-bottom: 20px;
                    }
                    @include phone-width() {
                        height: 190px;
                        width: 280px;
                        margin-bottom: 20px;
                    }
                }
            }
            .word {
                @include small-pad-width() {
                    margin: 0 auto;
                    width: 300px;
                }
                @include phone-width() {
                    margin: 0 auto;
                    width: 280px;
                }
                .title {
                    display: flex;
                    border-top: 0.05vw solid $gray;
                    border-bottom: 0.05vw solid $gray;
                    @include small-pad-width() {
                        width: 300px;
                    }
                    @include phone-width() {
                        width: 280px;
                    }
                    img {
                        width: 2.6vw;
                        height: 3.6vw;
                        margin-right: 2vw;
                        padding: 1vw;
                        @include small-pad-width() {
                            width: 32px;
                            height: 40px;
                            padding: 12px;
                        }
                        @include phone-width() {
                            width: 32px;
                            height: 40px;
                            padding: 12px;
                        }
                    }
                    h2 {
                        font-size: 1.5vw;
                        font-weight: bold;
                        color: $black;
                        display: flex;
                        align-items: center;
                        @include small-pad-width() {
                            font-size: 16px;
                            padding: 20px 0;
                        }
                        @include phone-width() {
                            font-size: 16px;
                            padding: 20px 0;
                        }
                    }
                }
                p {
                    width: 29.1vw;
                    text-align: left;
                    line-height: 1.6vw;
                    padding-bottom: 3.3vw;
                    padding-top: 1.5vw;
                    @include small-pad-width() {
                        width: 300px;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 20px 0;
                    }
                    @include phone-width() {
                        width: 280px;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 20px 0;
                    }
                }
                .btn {
                    @include btn($green, $white, 0.9vw);
                    width: 29.1vw;
                    height: 3.1vw;
                    @include small-pad-width() {
                        width: 300px;
                        height: 45px;
                        @include btn($green, $white, 15px);
                    }
                    @include phone-width() {
                        width: 280px;
                        height: 45px;
                        @include btn($green, $white, 15px);
                    }
                    div {
                        left: 10.2vw;
                    }
                    &:hover {
                        .group_info {
                            div {
                                overflow: hidden;
                                img {
                                    transform:scale(1.2, 1.2);
                                    transition: all 1s ease-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &_box:nth-child(2n+1) {
        background-color: $white;
    }
    &_box:nth-child(2n) {
        background-color: #DDDDDD;
    }
}
.news_group {
    width: 73vw;
    padding-bottom: 3.6vw;
    display: flex;
    flex-wrap: wrap;
    .box {
        width: 33.3%;
        margin-bottom: 4.1vw;
        @include small-pad-width() {
            width: 100%;
        }
        @include phone-width() {
            width: 100%;
        }
        a {
            display: block;
            overflow: hidden;
            img {
                width: 24.2vw;
                height: 18.2vw;
                @include small-pad-width() {
                    width: 315px;
                    height: 235px;
                }
                @include phone-width() {
                    width: 315px;
                    height: 235px;
                }
            }
        }
        p {
            display: flex;
            justify-content: center;
            padding-top: 1.4vw;
            padding-bottom: 1vw;
            width: 24.2vw;
            font-size: 1.1vw;
            @include small-pad-width() {
                width: 100%;
                font-size: 16px;
                line-height: 26px;
            }
            @include phone-width() {
                width: 100%;
                font-size: 16px;
                line-height: 26px;
            }
            a {
                padding-left: 1vw;
                color: $green
            }
        }
        h3 {
            a {
                font-size: 1.3vw;
                font-weight: bold;
                color: $black;
                @include small-pad-width() {
                    width: 100%;
                    font-size: 16px;
                    line-height: 26px;
                }
                @include phone-width() {
                    width: 100%;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
        &:hover {
            img {
                transform:scale(1.2, 1.2);
                transition: all 1s ease-out;
            }
            h3 {
                a {
                    color: $green;
                }
            }
        }
    }
}
.pd_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &_box {
        margin: 1vw 0.5vw;
        height: 18.2vw;
        width: 17.1vw;
        @include small-pad-width {
            width: 48%;
            height: 160px;
        }
        @include phone-width {
            width: 48%;
            height: 160px;
        }
        .image {
            background-color: $white;
            overflow: hidden;
            img {
                width: 17.19vw;
                width: 14.06vw;
                @include small-pad-width {
                    width: 150px;
                    height: 125px;
                }
                @include phone-width {
                    width: 150px;
                    height: 125px;
                }
            }
        }
        .word {
            height: 3.6vw;
            font-size: 1.1vw;
            font-weight: bold;
            line-height: 3.6vw;
            background-color: $white;
            margin-top: 0.3vw;
            color: $black;
        }
        &:hover {
            .image {
                img {
                    transform:scale(1.2, 1.2);
                    transition: all 1s ease-out;
                }
            }
            .word {
                color: $green;
            }
        }
    }
}